* {
    box-sizing: border-box; 
  }
   
  body {
    
      margin: 0 auto;
      font-family: 'Montserrat', sans-serif;}

 a:link, a:visited, a{
        text-decoration-line: none;
        color: rgb(230, 173, 173);
      }  


 .footer img {width: 60px;}
 